<!-- <form class="" action="/api/question" method="post">
  <input type="text" name="question" value="">
  <input type="submit" name="submit" value="Submit">
</form> -->

<div class="container">
  <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
  <form method="post" action="/api/question">
    <div class="form-group">
      <textarea name="question" id="question" class="form-control" rows="6" maxlength="200"></textarea>
      <p class="help-block" id="ask_counter">Còn 200/200 ký tự.</p>
    </div>
    <button type="submit" class="btn btn-primary">Gửi</button>
  </form>
</div>
