.menu {
  background-color: #D5B0AC;
  color: #402E2A;
  text-align: center;
  font-weight: bold;
}

.menu span {
  width: 100px;
  height: 30px;
  display: inline-block;
  padding-top: 8px;
}

.menu span:hover {
  background-color: #9CD08F;
  color: #FFFFFF;
}

/* Menu vertical */
.menu-vertical {
  width: 100px;
  margin-top: 10px;
}

.menu-vertical span {
  display: block;
  border-bottom: 1px solid #FFFFFF;
}
